bun.lockb
./node_modules
/node_modules
node_modules/
dist
.DS_Store
.env
.vscode
.idea
coverage
*.log
*.tsbuildinfo
.cache
.next
out
/build
/public/build
/static/js/*.map
/static/css/*.map
/.parcel-cache
/.next/cache
/.turbo
/.vercel
/.firebase
/.expo
/.yalc
/.husky/_/
/coverage

package-lock.json
